- provide(:title, "About Us")
%h1 About Us
%p<
  = surround "The ", " is a project to make a book and screencasts to teach web development " do
    %a{:href => 'http://railstutorial.org'}> Ruby on Rails Tutorial
  = surround " with ", ". This is the sample application for the tutorial." do
    %a{:href => 'http://railstutorial.org'}> Rails Tutorial book
